node_modules
.next
out
.env*.local
*.tsbuildinfo
.DS_Store
.vscode

# Ignore all brand images
public/images/brands/*
!public/images/brands/ruchis-family/

# Ignore all restaurant data
src/data/*
!src/data/ruchis-family/